<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <style type="text/tailwindcss">
    @layer components {
      .demo-title {
        /* ... */
        @apply py-4 text-2xl font-medium text-center text-gray-900 sm:text-3xl bg-gray-100;
      }
    }
  </style>
</head>
<body class="min-h-screen">
  <!-- 55.渐变背景组件 -->
  <h2 class="demo-title">55.渐变背景组件</h2>
  <div class="bg-gradient-to-br from-green-400 to-blue-500 p-24"></div>
  <!-- 56.渐变文字颜色组件 -->
  <h2 class="demo-title">56.渐变文字颜色组件</h2>
  <h1 class="sm:text-5xl text-3xl mb-4 font-medium bg-clip-text text-transparent bg-gradient-to-r from-indigo-400 to-blue-500">
    Enter your heading here
  </h1>
</body>
</html>